-
    var news = [
        {
            image: 'img/news-01.png',
            title: 'Обновление меню',
            text: 'Лето совсем рядом! Мы уже добавили сезонные позиции в наше меню! Скорее попробуй!',
            button: {
                href: 'news-detail.html',
                text: 'подробнее'
            },
        },
        {
            image: 'img/news-02.png',
            title: 'Обновление меню',
            text: 'Лето совсем рядом! Мы уже добавили сезонные позиции в наше меню! Скорее попробуй!',
            button: {
                href: 'news-detail.html',
                text: 'подробнее'
            },
        },
        {
            image: 'img/news-03.png',
            title: 'Обновление меню',
            text: 'Лето совсем рядом! Мы уже добавили сезонные позиции в наше меню! Скорее попробуй!',
            button: {
                href: 'news-detail.html',
                text: 'подробнее'
            },
        },
        {
            image: 'img/news-04.png',
            title: 'Обновление меню',
            text: 'Лето совсем рядом! Мы уже добавили сезонные позиции в наше меню! Скорее попробуй!',
            button: {
                href: 'news-detail.html',
                text: 'подробнее'
            },
        },
    ]

.section.section--gray.news
    .container
        h2.section__header.section__header--dark.news__header наши новости
        .news-swiper#news-swiper
            .news-grid.swiper-wrapper
                each item in news
                    .news__item.rotate.swiper-slide
                        a.news__item-link(href=item.button.href) 
                            img.news__item-image(src=item.image alt=item.title)
                        .news__item-content
                            a.news__item-title(href="") !{item.title}
                            p.news__item-text !{item.text}
                        a.news__item-button.btn(href=item.button.href) !{item.button.text}